@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@300;400;500&family=M+PLUS+Rounded+1c:wght@400;500;800;900&family=Montserrat:wght@400;700;900&family=Poppins:wght@300;400;500&family=Roboto:wght@300&display=swap');

:root {
  --dark-orange: #db7a20;
  --light-orange: #e3b55e;
  --dark-shadow: #23232364;
  --light-shadow: #ffffff77;
  --light-yellow: #f4ede0;
  --shadow: 4px 4px 10px var(--dark-shadow);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

#root {
  font-family: 'M PLUS Rounded 1c';
  text-align: center;
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

section.avatarform {
  display: flex;
  align-items: center;
}

.checkboxcontainer {
  cursor: pointer;
  font-size: 22px;
  height: 25px;
  width: 25px;
  margin-right: 0.5rem;
}

input.deleteavatar {
  cursor: pointer;
  position: absolute;
  height: 0;
  width: 0;
  opacity: 0;
}

span.checkmark {
  border: 1px solid var(--light-orange);
  border-radius: 5px;
  display: block;
  position: absolute;
  height: 23px;
  width: 23px;
  background-color: var(--light-yellow);
}

.checkmark:after {
  content: '';
  margin: 3px 0 0 7px;
  display: none;
}

.checkboxcontainer input:checked ~ .checkmark:after {
  display: block;
}

.checkboxcontainer .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid var(--dark-orange);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

label.avatarfile {
  display: flex;
  justify-content: center;
  place-self: center;
  border: 2px solid var(--light-orange);
  border-radius: 20px;
  margin: 2rem 0 2rem 0;
  background-color: white;
  font-size: 0.7rem;
  padding: 5px 25px;
  color: var(--dark-orange);
  font-weight: bold;
  cursor: pointer;
  box-shadow: var(--shadow);
  font-family: 'M PLUS Rounded 1c';
}

label.disabledavatarfile {
  display: flex;
  justify-content: center;
  place-self: center;
  border: 2px solid lightgrey;
  border-radius: 20px;
  margin: 2rem 0 2rem 0;
  background-color: white;
  font-size: 0.7rem;
  padding: 5px 25px;
  color: grey;
  font-weight: bold;
  box-shadow: none;
  font-family: 'M PLUS Rounded 1c';
}

label.deleteavatar {
  color: var(--dark-orange);
  font-weight: bold;
  cursor: pointer;
  font-size: 0.7rem;
  padding-right: 1.5rem;
}

button.deleteavatar {
  display: inline-block;
  width: fit-content;
  place-self: center;
  border: 2px solid var(--light-orange);
  border-radius: 20px;
  margin: 2rem 0 2rem 0;
  background-color: white;
  font-size: 0.7rem;
  padding: 5px 25px;
  color: var(--dark-orange);
  font-weight: bold;
  cursor: pointer;
  box-shadow: var(--shadow);
  font-family: 'M PLUS Rounded 1c';
}

label.avatarfile:hover {
  background-color: var(--dark-orange);
  border: 2px solid var(--dark-orange);
  box-shadow: none;
}

label.avatarfile:hover > .textbutton {
  color: white;
}

img#imagen {
  margin: 1rem;
  border-radius: 50%;
  width: 180px;
  height: 180px;
  object-fit: cover;
  border: 2px solid var(--light-orange);
}

button.bigbutton {
  width: fit-content;
  place-self: center;
  border: 2px solid var(--light-orange);
  border-radius: 20px;
  margin: 2rem 0 2rem 0;
  background-color: white;
  font-size: 0.95rem;
  padding: 5px 25px;
  color: var(--dark-orange);
  font-weight: bold;
  cursor: pointer;
  box-shadow: var(--shadow);
  font-family: 'M PLUS Rounded 1c';
}

button.bigbutton:hover {
  background-color: var(--dark-orange);
  border: 2px solid var(--dark-orange);
  color: white;
  box-shadow: none;
  margin: 2.1rem 0 1.9rem 0;
}

p.bigbutton {
  width: fit-content;
  place-self: center;
  border: 2px solid var(--light-orange);
  border-radius: 20px;
  margin: 2rem 0 2rem 0;
  background-color: white;
  font-size: 0.95rem;
  padding: 5px 25px;
  color: var(--dark-orange);
  font-weight: bold;
  cursor: pointer;
  box-shadow: var(--shadow);
  font-family: 'M PLUS Rounded 1c';
}

p.bigbutton:hover {
  background-color: var(--dark-orange);
  border: 2px solid var(--dark-orange);
  color: white;
  box-shadow: none;
  margin: 2.1rem 0 1.9rem 0;
}

@keyframes like {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@-webkit-keyframes like {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

img.icon {
  cursor: pointer;
}

img.icon:hover {
  width: 30px;
}

img.likeicon {
  cursor: pointer;
  max-width: 24px;
}

img.likeicon:hover {
  animation: like 0.75s linear infinite;
  -webkit-animation: like 0.75s linear infinite;
}

@keyframes dislike {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@-webkit-keyframes dislike {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

img.dislikeicon {
  cursor: pointer;
  max-width: 24px;
}

img.dislikeicon:hover {
  animation: dislike 1s linear infinite;
  -webkit-animation: dislike 1s linear infinite;
}

a {
  text-decoration: none;
  color: black;
}

header.mainheader {
  height: 69px;
  display: flex;
  background-color: rgba(255, 255, 255, 0.91);
  justify-content: center;
  align-items: center;
  justify-items: center;
  padding: 1rem;
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  box-shadow: none;
  border-bottom: 2px solid var(--dark-orange);
  box-shadow: 6px 6px 15px var(--dark-shadow);
}

header.mainheader > img {
  height: 40px;
}

header > a > h1 {
  font-size: 25px;
  color: var(--dark-orange);

  padding: 0 10px;
  border-radius: 5px;
  width: fit-content;
  height: fit-content;
}

.menubutton {
  border-radius: 5px;
  padding: 5px;
  max-width: 40px;
  height: 40px;
  position: fixed;
  top: 13.5px;
  left: 15px;
  cursor: pointer;
}

@-webkit-keyframes hidemenu {
  from {
    width: 40%;
    opacity: 1;
    left: 0;
    visibility: visible;
  }
  to {
    width: 0;
    opacity: 0;
    left: -100;
    visibility: hidden;
  }
}

@keyframes hidemenu {
  from {
    left: 0;
    width: 40%;
    opacity: 1;
    visibility: visible;
  }
  to {
    width: 0;
    opacity: 0;
    left: -100;
    visibility: hidden;
  }
}

@-webkit-keyframes hidemenuwrapper {
  from {
    width: 100%;
    opacity: 1;
    visibility: visible;
  }
  to {
    width: 0;
    opacity: 0;
    left: -100;
    visibility: hidden;
  }
}

@keyframes hidemenuwrapper {
  from {
    width: 100%;
    opacity: 1;
    visibility: visible;
  }
  to {
    width: 0;
    opacity: 0;
    left: -100;
    visibility: hidden;
  }
}

.menuwrapperhidden {
  -webkit-animation: hidemenu 0.2s linear;
  animation: hidemenu 0.2s linear;
  margin-top: 69px;
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: transparent;
  opacity: 0;
  visibility: hidden;
}

.phonemenuhidden {
  -webkit-animation: hidemenu 0.2s linear;
  animation: hidemenu 0.2s linear;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.91);
  border-radius: 0px 0px 10px 0px;
  color: white;
  height: 100%;
  width: 40%;
  max-width: 200px;
  position: fixed;
  left: 0;
  top: 64px;
  display: flex;
  flex-direction: column;
  visibility: inherit;
  align-items: stretch;
  margin-top: 5px;
  opacity: 0;
  visibility: hidden;
}
@-webkit-keyframes showmenu {
  from {
    width: 0;
    opacity: 0;
    left: -100;
    visibility: hidden;
  }
  to {
    width: 40%;
    opacity: 1;
    left: 0;
    visibility: visible;
  }
}

@keyframes showmenu {
  from {
    width: 0;
    opacity: 0;
    left: -100;
    visibility: hidden;
  }
  to {
    width: 40%;
    opacity: 1;
    left: 0;
    visibility: visible;
  }
}

@-webkit-keyframes showmenuwrapper {
  from {
    width: 0;
    opacity: 0;
  }
  to {
    width: 100%;
    opacity: 1;
  }
}

@keyframes showmenuwrapper {
  from {
    width: 0;
    opacity: 0;
  }
  to {
    width: 100%;
    opacity: 1;
  }
}

.menuwrappervisible {
  -webkit-animation: showmenuwrapper 0.2s linear;
  animation: showmenuwrapper 0.2s linear;
  margin-top: 69px;
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: transparent;
}

.phonemenuvisible {
  -webkit-animation: showmenu 0.2s linear;
  animation: showmenu 0.2s linear;
  z-index: 2;
  padding-top: 5px;
  background-color: rgba(255, 255, 255, 0.91);
  border-radius: 0px 0px 10px 0px;
  box-shadow: 6px 6px 15px var(--dark-shadow);
  color: black;
  height: 100%;
  width: 40%;
  max-width: 200px;
  position: fixed;
  left: 0;
  top: 69px;
  display: flex;
  flex-direction: column;
  visibility: inherit;
  align-items: stretch;
}

.phonemenuvisible > a,
.phonemenuhidden > a {
  background-color: white;
  border: 2px solid var(--light-orange);
  border-radius: 20px;
  margin: 5px;
  padding: 5px;
  color: var(--dark-orange);
  font-weight: bold;
  font-size: 0.95rem;
}

.phonemenuvisible > a:hover,
.phonemenuhidden > a:hover {
  background-color: var(--dark-orange);
  border-color: var(--dark-orange);
  color: white;
}

.phonemenuvisible > .logoutbutton,
.phonemenuhidden > .logoutbutton {
  background-color: white;
  border: 2px solid var(--light-orange);
  margin: 5px;
  font-size: 0.95rem;
  border-radius: 20px;
  cursor: pointer;
  padding: 5px;
  font-weight: bold;
  color: var(--dark-orange);
}

.phonemenuvisible > .logoutbutton:hover,
.phonemenuhidden > .logoutbutton:hover {
  border-color: var(--dark-orange);
  background-color: var(--dark-orange);
  color: white;
}
.phonemenuvisible > .blankspace,
.phonemenuhidden > .blankspace {
  height: 100%;
  width: 100%;
}
body {
  height: 100%;
}

main {
  background-color: var(--light-yellow);
  height: 100%;
  margin: 69px 0 0 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

main > section.formwrapper {
  margin-left: 10%;
  margin-top: 2rem;
  padding: 10px;
  width: 80%;
  background-color: var(--light-orange);
  border-radius: 25px;
}

section.formwithbuttons {
  width: 100%;
  max-width: 500px;
  place-self: center;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  margin: 3rem 0 1rem 0;
}

.newpostwrapper {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  height: 100%;
}

.newpostwrapper > section.formwithbuttons {
  width: 80%;
  max-width: 500px;
  place-self: center;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 4rem;
  height: 100%;
}

section.formwithbuttons > form.pageform {
  width: 100%;
  height: 100%;
  border: 2px solid var(--light-orange);
  color: white;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  place-self: center;
  box-shadow: 4px 4px 10px var(--dark-shadow);
}

section.posteditwrapper > form.postedit {
  color: white;
  border-radius: 8px 8px 0 0;
  padding: 0 5px 0 10px;
  /* background-color: var(--dark-orange); */
  background-image: linear-gradient(to right, var(--dark-orange), white);
  grid-area: title;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
section.formwithbuttons > section.formwithbuttons {
  padding: 0;
}
section.formwithbuttons > form.pageformdeleted {
  width: 100%;
  height: 100%;
  padding-top: 1rem;
  border: 2px solid var(--light-orange);
  color: white;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  place-self: center;
  box-shadow: 4px 4px 10px var(--dark-shadow);
}

section.formwithbuttons > form.pageformdeleted > input {
  width: 75%;
  appearance: none;
  outline: none;
  margin-top: 10px;
  border: 1px var(--light-orange);
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: solid;
  padding: 5px;
  font-size: medium;
  color: rgb(72, 71, 71);
}

section.formwithbuttons > form.pageform > input {
  width: 75%;
  appearance: none;
  outline: none;
  margin-top: 10px;
  border: 1px var(--light-orange);
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: solid;
  padding: 5px;
  font-size: medium;
  color: rgb(72, 71, 71);
}

section.formwithbuttons > form.pageform > input.name::placeholder {
  color: var(--dark-orange);
}

section.formwithbuttons > form.pageform > input.email::placeholder {
  color: var(--dark-orange);
}

section.formwithbuttons > form.pageform > input.password::placeholder {
  color: var(--dark-orange);
}

section.formwithbuttons > form.pageform > input.oldpassword {
  margin: 0;
}

section.formwithbuttons > form.pageformdeleted > input.deleteuser::placeholder {
  color: var(--dark-orange);
}

section.formwithbuttons > form.pageform > section.textareawrapper {
  width: 100%;
}

section.formwithbuttons
  > form.pageform
  > section.textareawrapper
  > textarea.titletext {
  border-radius: 7px 7px 0 0;
  overflow: hidden;
  font: inherit;
  width: 100%;
  appearance: none;
  outline: none;
  background-image: linear-gradient(to right, var(--dark-orange), white);
  border: var(--light-orange);
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  padding: 5px;
  resize: none;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
}

section.formwithbuttons
  > form.pageform
  > section.textareawrapper
  > textarea.titletext::placeholder {
  color: white;
}

section.formwithbuttons
  > form.pageform
  > section.textareawrapper
  > textarea.contenttext {
  border-radius: 0 0 7px 7px;
  overflow: hidden;
  font: inherit;
  width: 100%;
  min-height: 10rem;
  appearance: none;
  outline: none;
  background-color: white;
  border: var(--light-orange);
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  padding: 5px;
  resize: none;
  font-size: medium;
  color: black;
}

section.formwithbuttons > form.pageform > label {
  font-weight: bold;
  margin-top: 15px;
  width: 75%;
  text-align: start;
  padding-top: 5px;
  color: var(--dark-orange);
}

a > p.delete {
  margin-top: 2rem;
  color: var(--dark-orange);
  font-weight: bold;
  cursor: pointer;
  text-align: center;
}

a.navdelete {
  width: fit-content;
  justify-self: center;
  display: block;
  place-self: center;
}

ul.postlist {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
  place-self: center;
}

ul.postlist > li {
  width: 100%;
  max-width: 800px;
  display: flex;
  justify-content: center;
  align-self: center;
  padding: 0 15px;
}

.postbox {
  width: 100%;
  max-width: 800px;
  border: 2px solid var(--light-orange);
  border-radius: 10px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 2rem minmax(3rem, min-content) 1.5rem;
  grid-template-areas:
    'title'
    'content'
    'votes';
  justify-content: space-between;
  margin: 10px;
  background-color: white;
  box-shadow: 4px 4px 10px var(--dark-shadow);
}

.postheader {
  color: white;
  border-radius: 8px 8px 0 0;
  padding: 0 5px 0 10px;
  /* background-color: var(--dark-orange); */
  background-image: linear-gradient(to right, var(--dark-orange), white);
  grid-area: title;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
section.postbox > .postheader > .posttitle {
  font-weight: bold;
}

section.postbox > .postheader > .posttitle:hover {
  font-size: 1.1rem;
}

section.postbox > .postheader > .postauthor {
  font-weight: bold;
  font-size: 0.7rem;
  color: var(--dark-orange);
}

section.postbox > .postheader > .postauthor:hover {
  font-size: 0.9rem;
}

.postheader > a {
  color: white;
}

.postcontent {
  text-align: start;
  min-height: 100%;
  background-color: white;
  padding: 5px 8px;
  grid-area: content;
  align-self: center;
  display: flex;
}

a > p.posttitle {
  font-weight: bold;
}

.votepanel {
  padding-right: 20px;
  background-color: white;
  border-radius: 0 0 20px 20px;
  width: min-content;
  align-items: center;
  justify-content: flex-end;
  grid-area: votes;
  display: flex;
  justify-self: end;
  gap: 10px;
}

.singlepost {
  background-color: white;
  border-radius: 10px;
  width: 90%;
  border: 2px solid var(--light-orange);
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: min-content minmax(4rem, min-content) 2.5rem;
  grid-template-areas:
    'title'
    'content'
    'votes';
  justify-content: space-between;
  place-self: center;
  margin-top: 30px;
  box-shadow: 4px 4px 10px var(--dark-shadow);
}

#errormessage {
  visibility: hidden;
  bottom: 0;
}

#errormessage.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
  color: white;
  font-weight: bold;
  border-radius: 20px;
  background-color: rgb(174, 33, 33);
  text-align: center;
  padding: 16px;
  position: fixed;
  z-index: 1;
  bottom: 30px;
  font-weight: bold;
}

#fadingmessage {
  visibility: hidden;
  bottom: 0;
}

#fadingmessage.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
  color: white;
  font-weight: bold;
  border-radius: 20px;
  background-color: var(--dark-orange);
  text-align: center;
  padding: 16px;
  position: fixed;
  z-index: 1;
  bottom: 30px;
  font-weight: bold;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

.singlepost > .postheader {
  text-align: start;
  padding: 5px 8px;
  display: grid;
  grid-area: title;
  grid-template-columns: auto 25px;
  grid-template-rows: min-content min-content;
  grid-template-areas:
    'title editbutton'
    'author author';
}

.singlepost > form {
  background-color: transparent;
  border: none;
  grid-row-start: title;
  grid-row-end: content;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: min-content minmax(4rem, min-content);
  grid-template-areas:
    'title'
    'content';
}

.singlepost > form > .postheader {
  text-align: start;
  padding: 5px 8px;
  display: grid;
  grid-area: title;
  grid-template-columns: 95% 5%;
  grid-template-rows: min-content min-content;
  grid-template-areas:
    'title editbutton'
    'author editbutton';
}

.singlepost > form > .postheader > p {
  grid-area: author;
  justify-self: start;
}

.singlepost > form > .postheader > textarea.titletext {
  font-size: 1.375rem;
  width: 100%;
  font: inherit;
  box-sizing: border-box;
  appearance: none;
  outline: none;
  background-color: transparent;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  font-size: x-large;
  font-weight: bold;
  resize: none;
  overflow: hidden;
  color: white;
}

.singlepost > form > .postheader > .buttons {
  grid-area: editbutton;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  height: 100%;
}

.singlepost > form > .postheader > .buttons > .save {
  width: 20px;
  height: 20px;
  background-size: 26px 26px;
  border: none;
  background-color: transparent;
  background-image: url(../public/icons/save.svg);
  background-position: center;
}

.singlepost > form > .postheader > .buttons > .save:hover {
  width: 26px;
  height: 26px;
  background-color: transparent;
  background-size: 30px 30px;
  cursor: pointer;
}
.singlepost > form > .postheader > .buttons > .cancel {
  margin-top: 2px;
  width: 20px;
  height: 20px;
  border: none;
  background-color: transparent;
  background-image: url(../public/icons/cancel.svg);
}

.singlepost > form > .postheader > .buttons > .cancel:hover {
  width: 26px;
  height: 26px;
  background-color: transparent;
  background-size: 26px 26px;
  cursor: pointer;
}
.singlepost > form > textarea.contentext {
  padding: 5px 8px;
  grid-area: content;
  width: 100%;
  font: inherit;
  box-sizing: border-box;
  appearance: none;
  outline: none;
  background-color: transparent;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  font-size: medium;
  resize: none;
  overflow: hidden;
}

.singlepost > .postheader > .posttitle {
  grid-area: title;
}

.singlepost > .postheader > img {
  grid-area: editbutton;
}

.singlepost > .postheader > a {
  grid-area: author;
  justify-self: start;
}

.singlepost > #trash {
  margin-left: 10px;
  justify-self: start;
  align-self: center;
  grid-area: votes;
}
.singlepost > .buttons > #save {
  grid-area: edit;
}

a.edituserbutton {
  display: inline-block;
  place-self: center;
}

section.userprofile {
  border: 2px solid var(--light-orange);
  background-color: white;
  border-radius: 6px;
  max-width: 500px;
  width: 85%;
  display: flex;
  flex-direction: column;
  place-self: center;
  justify-content: space-between;
  margin: 45px 25px 10px 25px;
  box-shadow: 4px 4px 10px var(--dark-shadow);
}

section.userprofile > img.avatar {
  margin: 1rem;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
  border: 2px solid var(--light-orange);
  place-self: center;
}

section.userprofile > h2 {
  color: var(--dark-orange);
  padding: 5px;
  background-color: white;
  border-radius: 5px 5px 0 0;
  border-bottom: 2px solid var(--light-orange);
}
section.userprofile > ul.userdata {
  column-gap: 5px;
  row-gap: 5px;
  align-items: center;
  list-style: none;
  padding: 15px;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: minmax(2rem, min-content) minmax(2rem, min-content) minmax(
      2rem,
      min-content
    );
  grid-template-areas:
    'emailkey emailvalue'
    'datekey datevalue'
    'postskey postsvalue';
  background-color: white;
  border-radius: 0 0 6px 6px;
}

section.userprofile > ul.userdatashort {
  list-style: none;
  padding: 15px;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 2rem 2rem;
  grid-template-areas:
    'datekey datevalue'
    'postskey postsvalue';
  column-gap: 5px;
  row-gap: 5px;
  background-color: white;
  border-radius: 0 0 6px 6px;
}

section.userprofile > ul > li.emailkey {
  color: var(--dark-orange);
  font-weight: bold;
  grid-area: emailkey;
}

section.userprofile > ul > li.emailvalue {
  grid-area: emailvalue;
}

section.userprofile > ul > li.datekey {
  color: var(--dark-orange);
  font-weight: bold;
  grid-area: datekey;
}

section.userprofile > ul > li.datevalue {
  grid-area: datevalue;
}

section.userprofile > ul > li.postskey {
  color: var(--dark-orange);
  font-weight: bold;
  grid-area: postskey;
}

section.userprofile > ul > li.postsvalue {
  grid-area: postsvalue;
}

footer {
  width: 100%;
  text-align: end;
  padding: 5px;
  color: var(--dark-orange);
  font-weight: bold;
  background-color: var(--light-yellow);
  font-size: xx-small;
}

@media screen and (min-width: 700px) and (max-width: 1200px) {
  html {
    font-size: 23px;
  }

  header.mainheader > a > h1 {
    place-self: center;
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1200px) {
  header.mainheader {
    height: 69px;
    display: flex;
    background-color: rgba(255, 255, 255, 0.91);
    justify-content: flex-start;
    justify-items: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
    box-shadow: none;
    border-bottom: 2px solid var(--dark-orange);
    box-shadow: 6px 6px 15px var(--dark-shadow);
  }

  main {
    padding-left: 200px;
  }

  header.mainheader > img {
    height: 45px;
  }

  header.mainheader > a > h1 {
    color: var(--dark-orange);
  }

  header > a > h1:hover {
    font-size: 30px;
  }

  .singlepost {
    margin: 20px 20px 20px 20px;
    width: 60%;
    place-self: center;
  }
  .menubutton {
    visibility: hidden;
  }
  .menuwrapperhidden {
    visibility: visible;
    opacity: 1;
    background-color: transparent;
    pointer-events: none;
  }
  .phonemenuhidden {
    padding: 25px 1% 0 1%;

    visibility: visible;
    opacity: 1;
    pointer-events: all;
    background-color: white;
    box-shadow: 6px 6px 15px var(--dark-shadow);
  }

  .phonemenuhidden > a {
    border-color: var(--light-orange);
  }

  .phonemenuhidden > .logoutbutton {
    border-color: var(--light-orange);
  }

  img#imagen {
    margin: 1rem;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 2px solid var(--light-orange);
  }
  button.deleteavatar {
    display: inline-block;
    width: fit-content;
    place-self: center;
    border: 2px solid var(--light-orange);
    border-radius: 20px;
    margin: 2rem 0 2rem 0;
    background-color: white;
    font-size: 0.95rem;
    padding: 5px 25px;
    color: var(--dark-orange);
    font-weight: bold;
    cursor: pointer;
    box-shadow: var(--shadow);
    font-family: 'M PLUS Rounded 1c';
  }
  label.avatarfile {
    font-size: 0.95rem;
  }

  label.disabledavatarfile {
    font-size: 0.95rem;
  }
  label.deleteavatar {
    font-size: 0.95rem;
  }
  .checkboxcontainer:hover input ~ .checkmark {
    background-color: var(--light-orange);
  }
}
